@page "/"
@using System.Timers
<h3>CountDown</h3>
<p>countDown: @actuel</p>

<button class="btn btn-primary" @onclick="count1">Click me</button>

@code {
    private int actuel = 2000;

    void count1()

    {
        Timer tim = new Timer();
        tim.Interval = 1000;
        tim.Elapsed += (s, e) => actuel -= 10;
        actuel -= 10;
        tim.Start();
        if (actuel == 0)
        {
            tim.Stop();
        }

    }

}